*
{
    margin : 0px;
}

div.normal
{
    border: 3px red solid;
    width: 300px;
    height: 300px;
}

div.relative
{
    border: 3px red solid;
    width: 300px;
    height: 300px;
    position: relative;
    left: 316px;
    /* top: -100px */
    bottom: 306px; /* == top : -306px; */
}

div.relative1
{
    border: 3px red solid;
    width: 300px;
    height: 300px;
    position: relative;
    left: 632px;
    /* top: -100px */
    bottom: 612px; /* == top : -306px; */
}